@import url(./reset.css);
@import url(./fonts.css);

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #6725A8;
    padding-bottom: 30px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .header {
        padding: 8px 0 34px 0;
    }
}

.header__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 23px 0px 24px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .header__container {
        padding: 0px 15px 0px 7px;
    }
}

.header__content {
    display: flex;
    align-items: center;
}

@media (max-width: 661px) and (min-width: 320px) {
    .header__content {
        justify-content: space-between;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    padding-top: 7px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .header__nav {
        display: flex;
        align-items: center;
        padding-top: 0;
        margin-right: 5px;
    }
}

.header__burger-button {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #FFFFFF73;
    margin: 1px 17px 0 0;
}

.header__burger-button:hover {
    border-color: #FFFFFF;
}

.header__burger-button::before,
.header__burger-button::after {
    content: '';
    left: 8.5px;
    position: absolute;
    display: block;
    width: 28px;
    height: 4px;
    border-radius: 10px;
    background: #FFFFFF;
}

.header__burger-button::before {
    top: 11px;
    box-shadow: 0 10px 0 #FFFFFF;
}

.header__burger-button::after {
    bottom: 11px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .header__burger-button {
        width: 28px;
        height: 28px;
        border: none;
        margin: 0;
    }

    .header__burger-button::before,
    .header__burger-button::after {
        content: '';
        left: 9px;
        position: absolute;
        display: block;
        height: 2px;
        border-radius: 10px;
        background: #FFFFFF;
    }

    .header__burger-button::before {
        width: 22px;
        top: 7px;
        box-shadow: 0 8px 0 #FFFFFF;
    }

    .header__burger-button::after {
        width: 16px;
        bottom: 3px;
    }
}

@media (max-width: 661px) and (min-width: 320px) {
    .header__title {
        padding-top: 1px;
    }
}

.header__text {
    display: block;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.09em;
    color: #fff;
    width: 107px;
    padding-top: 9px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .header__text {
        width: 100%;
        font-size: 18px;
        padding: 0;
        word-spacing: 0.07em;
        letter-spacing: 0.186em;
    }
}

.header__search-wrapper-pc {
    flex-grow: 1;
    position: relative;
    margin: 0 32px 0 30px;
    padding-top: 8px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .header__search-wrapper-pc {
        display: none;
    }
}

.header__search-icon-img {
    width: 24px;
    height: 24px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .header__search-icon-img {
        width: 22px;
        height: 22px;
        cursor: pointer;
    }
}

.header__search-block {
    display: flex;
    position: relative;
}

.header__search-input {
    height: 48px;
    padding-left: 20px;
    font-size: 18px;
    border: none;
    border-radius: 36px;
    background-color: #FFFFFF33;
    flex-grow: 1;
}

.header__search-input::placeholder {
    font-family: 'Segoe-UI-400';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 50%;
}

@media (max-width: 661px) and (min-width: 320px) {
    .header__search-input {
        display: none;
    }
}

.header__search-icon {
    position: absolute;
    top: 56%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

@media (max-width: 661px) and (min-width: 320px) {
    .header__search-icon {
        position: relative;
    }
}

.header__search-wrapper-mobile {
    display: none;
}

@media (max-width: 661px) and (min-width: 320px) {
    .header__search-wrapper-mobile {
        display: block;
        padding-top: 9px;
    }
}

.header__user-actions {
    display: flex;
    padding-top: 19px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .header__user-actions {
        display: none
    }
}

.header__basket {
    margin-left: 43px;
}

.profile__link,
.basket__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__img {
    padding: 2px 0 0 3px;
}

.basket__img {
    padding-right: 6px;
}

.profile__text {
    font-size: 14px;
    line-height: 37px;
    color: #FFFFFF;
    letter-spacing: -0.035em;
}

.basket__text {
    font-size: 14px;
    line-height: 35px;
    color: #FFFFFF;
    letter-spacing: -0.035em;
}

.main {
    display: flex;
    flex: 1 1 auto;
    border-radius: 23px;
    margin-top: -21px;
    background: rgb(246, 246, 250);
    margin-bottom: -20px;
    z-index: 1;
}

@media (max-width: 661px) and (min-width: 320px) {
    .main {
        margin-bottom: -24px;
    }
}

.main__container {
    width: 1352px;
    display: flex;
    justify-content: space-between;
    padding: 9px 0px 24px 0px;
    margin: 0 auto;
}

@media (max-width: 1399px) and (min-width: 1020px) {
    .main__container {
        width: 976px;
    }
}

@media (max-width: 1020px) and (min-width: 661px) {
    .main__container {
        width: 640px;
        flex-direction: column;
    }
}

@media (max-width: 661px) and (min-width: 320px) {
    .main__container {
        width: 288px;
        flex-direction: column;
        padding: 9px 0px 20px 0px;
    }
}

.main__basket {
    margin-top: 25px;
}


@media screen and (min-width: 1400px) {
    .main__basket {
        width: 891px;
    }
}

@media (max-width: 1399px) and (min-width: 1020px) {
    .main__basket {
        max-width: 640px;
    }
}

@media (max-width: 661px) and (min-width: 320px) {
    .main__basket {
        margin-top: 6px;
    }
}

.main__basket-header {
    margin-bottom: 27px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .main__basket-header {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
    }
}

.main__goods {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .main__goods {
        margin-bottom: 29px;
    }
}

.goods__manipulates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .goods__manipulates {
        align-items: flex-end;
        margin-bottom: 18px;
    }
}

.goods__hide {
    padding: 2px 2px 0 0;
}

@media (max-width: 1399px) and (min-width: 1020px) {
    .goods__hide {
        padding: 4px 1px 0 0;
    }
}

@media (max-width: 661px) and (min-width: 320px) {
    .goods__hide {
        padding: 2px 6px 0 0;
    }
}

.goods__list {
    border-top: 1px solid #0000001A;
}

.card {
    margin-bottom: 20px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card {
        margin-bottom: 9px;
    }
}

.card__content {
    display: flex;
    justify-content: space-between;
    padding-top: 11px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__content {
        flex-direction: column;
    }
}

.first-card {
    position: relative;
    padding-top: 12px;
}

.second-card {
    position: relative;
}

.third-card {
    position: relative;
    padding-top: 10px;
}

.card__input-wrapper {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__input-wrapper {
        position: relative;
    }
}

.card__input-img {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__input-img {
        margin-bottom: 12px;
    }

    .card__input-img-second {
        margin-bottom: 8px;
    }

    .card__input-img-third {
        margin-bottom: 14px;
    }
}

.card__input,
.order__agreement-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.card__input+.card__label,
.order__agreement-input+.order__agreement-label {
    display: inline-flex;
    align-items: center;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__input+.card__label {
        align-items: center;
    }
}

.card__input+.card__label::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 11px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__input+.card__label_mobile::before {
        position: absolute;
        top: 4px;
        left: 4px;
        z-index: 1;
    }
}

.card__input+.payment__label::before {
    margin-right: 8px;
}

.card__input:checked+.card__label::before {
    border-color: #CB11AB;
    background-color: #CB11AB;
    background-image: url("../assets/images/checked.svg");
}

.card__img {
    width: 72px;
    height: 96px;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__img {
        width: 80px;
        height: 106px;
    }
}

.card__description {
    width: 250px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__description {
        width: 100%;
        padding-top: 26px;
    }
}

.card__description-title {
    margin-bottom: 4px;
    cursor: pointer;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__description-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
    }
}

.card__description-color {
    margin-right: 13px;
}

.card__description-size_mobile {
    display: none;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__description-size {
        display: none;
    }

    .card__description-size_mobile {
        display: block;
        position: absolute;
        bottom: 56px;
        left: 4px;
        text-align: center;
        width: 22px;
        height: 22px;
        border-radius: 6px;
        background: #FFFFFF;
    }
}

.card__description-company {
    display: flex;
    justify-content: space-between;
    width: 139px;
}

.card__description-company-mega {
    display: flex;
}

@media (max-width: 661px) and (min-width: 320px) {

    .card__description-company,
    .card__description-company-mega {
        display: none;
    }
}

.card__description-company-mega-text {
    margin-right: 8px;
}

.card__description-koledino {
    margin: 7px 0 4px 0;
}

.card__description-company-text,
.card__description-koledino {
    color: #9797AF;
}

.card__description-company-icon {
    width: 20px;
    height: 20px;
    margin-top: -2px;
}

.card__btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__btn {
        width: 274px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.card__btn-price {
    display: flex;
}

.card__quantity-btn {
    display: flex;
    align-items: center;
    width: 100px;
    height: 44px;
    border-radius: 8px;
    background: #FFFFFF;
    margin-bottom: 8px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__quantity-btn {
        width: 80px;
        height: 32px;
        border-radius: 8px;
        background: #FFFFFF;
        margin-bottom: 8px;
    }
}

.card__quantity {
    width: 44px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border: none;
    padding-bottom: 2px;
    margin-left: 6px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__quantity {
        width: 26px;
        font-size: 14px;
        line-height: 20px;
    }
}

.card__quantity-btn_minus,
.card__quantity-btn_plus {
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #000000;
}

.card__quantity-btn_minus:disabled,
.card__quantity-btn_plus:disabled {
    color: #00000033;
}

.card__quantity-btn_minus {
    margin-left: 11px;

}

@media (max-width: 661px) and (min-width: 320px) {
    .card__quantity-btn_minus {
        margin-left: 9px;
    }
}

.card__quantity-btn_plus {
    margin-left: 6px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__quantity-btn_plus {
        margin-left: 8px;
    }
}


.card__quantity-text {
    margin-bottom: 8px;
    color: #FF3B30;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__quantity-text {
        margin: 0 14px 8px 0;
    }
}

.card__favorite-delete {
    margin-left: 43px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__favorite-delete {
        margin: 0 0 5px 0;
    }
}

.card__favorite {
    margin-right: 14px;
    cursor: pointer;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__favorite {
        margin-right: 21px;
    }
}

.card__delete {
    cursor: pointer;
}

.card__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 126px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__price {
        width: 193px;
        position: absolute;
        top: 12px;
        left: 97px;
        flex-direction: row;
        align-items: baseline;
    }

    .card__price-second {
        left: 95px;
    }
}

.card__price-discount {
    display: flex;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__price-discount {
        margin-right: 6px;
    }
}

.card__price-discount-num {
    font-weight: 700;
    font-size: 20px;
    margin: 0 8px 7px 0;
}

@media (max-width: 661px) and (min-width: 320px) {
    .card__price-discount-num {
        margin: 0 7px 0 0;
    }
}

.card__price-discount-valute {
    font-weight: 700;
}

@media (max-width: 661px) and (min-width: 320px) {

    .card__price-discount-num,
    .card__price-discount-valute {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }
}

.card__price-full {
    color: #9797AF;
    border-bottom: 1px dashed #9797AF;
}

.absent {
    margin-bottom: 42px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .absent {
        margin-bottom: 27px;
    }
}

@media (max-width: 1399px) and (min-width: 1020px) {
    .absent__card {
        max-width: 512px;
    }
}

@media (max-width: 661px) and (min-width: 320px) {
    .absent__card {
        margin-bottom: 11px;
    }
}

.absent__manipulates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}

@media (max-width: 661px) and (min-width: 320px) {

    .absent__hide {
        padding-top: 8px
    }
}

.absent__list {
    max-width: 763px;
}

.absent__img {
    filter: grayscale(100%);
}

@media (max-width: 661px) and (min-width: 320px) {
    .absent__description {
        padding-top: 1px;
    }
}

.absent__description-title {
    width: 290px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .absent__description-title {
        width: 100%;
    }

    .absent__input-img {
        margin-bottom: 16px;
    }

    .absent__btn {
        justify-content: flex-end;
    }

    .absent__favorite-delete {
        margin-right: -7px;
    }
}

.delivery,
.payment,
.recipient {
    padding: 16px 24px 24px 24px;
    margin-bottom: 16px;
    border-radius: 16px;
    background: #FFFFFF;
}

@media (max-width: 1399px) and (min-width: 1020px) {
    .delivery {
        padding: 15px 25px 24px 24px;
    }

    .payment {
        padding: 17px 25px 24px 24px;
    }

    .recipient {
        padding: 16px 24px 24px 23px;
    }
}

@media (max-width: 661px) and (min-width: 320px) {
    .delivery {
        margin: 0 -16px 12px -16px;
        padding: 14px 16px 24px 16px;
    }

    .payment {
        margin: 0 -16px 12px -16px;
        padding: 12px 16px 24px 16px;
    }

    .recipient {
        margin: 0 -16px 0 -16px;
        padding: 16px 16px 20px 15px;
    }
}

.delivery__head,
.payment__head {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 661px) and (min-width: 320px) {

    .delivery__head,
    .payment__head {
        align-items: flex-end;
    }

    .delivery__title,
    .payment__title,
    .recipient__head {
        font-size: 20px;
        line-height: 28px;
    }
}

.delivery__change,
.payment__change {
    font-weight: 700;
    letter-spacing: 0.7px;
    color: #CB11AB;
    margin-top: 6px;
    cursor: pointer;
}

.payment__change {
    margin-top: 7px;
}

.delivery__main {
    display: flex;
    flex-direction: column;
    margin: 15px 0 20px 0;
}

@media (max-width: 661px) and (min-width: 320px) {
    .delivery__main {
        margin: 8px 0 20px 0;
    }
}

.delivery__point,
.delivery__price,
.delivery__date1,
.delivery__date2 {
    display: flex;
}

@media (max-width: 661px) and (min-width: 320px) {

    .delivery__point,
    .delivery__price,
    .delivery__date1,
    .delivery__date2 {
        flex-direction: column;
    }
}


.delivery__point {
    margin-bottom: 17px;
}

.delivery__point-value {
    margin-bottom: 3px;
}

.delivery__point-reting {
    display: flex;
}

.delivery__point-reting-img {
    margin-right: 5px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .delivery__point-reting-img {
        margin-right: 4px;
    }
}

.delivery__point-reting-value {
    margin-right: 8px;
}

.delivery__price {
    margin-bottom: 16px;
}

.delivery__price-key {
    margin-right: 32px;
}

.delivery__date1 {
    margin-bottom: 12px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .delivery__date1 {
        margin-bottom: 21px;
    }
}

.delivery__point-key {
    margin-right: 78px;
}

.delivery__date1-key {
    margin-right: 82px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .delivery__date1-key {
        margin: 0 0 11px 0;
    }
}


.date-img {
    width: 40px;
    height: 56px;
}

.date1-value-img1 {
    margin-right: 4px;
}

.date1-value-img2 {
    margin-right: 4px;
}

.delivery__date2-key {
    margin-right: 83px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .delivery__date2-key {
        margin: 0 0 11px 0;
    }
}

.reverse {
    display: flex;
    align-items: center;
}

.reverse__img {
    margin-right: 8px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .reverse__img {
        margin: 0 8px 0 8px;
    }
}

.reverse__text1 {
    margin-right: 4px;
}

.reverse__text2 {
    color: #0CB477;
    border-bottom: 1px dashed #0CB477;
    padding-left: 1px;
}

@media (max-width: 1399px) and (min-width: 1020px) {
    .reverse__text2 {
        margin-left: 1px;
    }
}

@media (max-width: 661px) and (min-width: 320px) {
    .reverse__text2 {
        padding-left: 5px;
    }
}

.payment__bank-card {
    display: flex;
    align-items: center;
    margin: 15px 0 7px 0;
}

@media (max-width: 661px) and (min-width: 320px) {
    .payment__bank-card {
        margin: 8px 0 7px 0;
    }
}

.payment__mir {
    margin-right: 8px;
}

.payment__card-num {
    margin: 2px 12px 0 0;
}

.payment__card-date {
    margin-top: 2px;
}

.payment__label {
    font-size: 13px;
    margin-bottom: 8px;
}

.payment__warning {
    color: #9797AF;
}

.recipient {
    margin-bottom: 26px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .recipient {
        margin-bottom: 0;
    }
}


.recipient__head {
    margin-bottom: 26px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .recipient__head {
        margin-bottom: 13px;
    }
}

.recipient-wrapper {
    flex-direction: column;
    width: 700px;
}

@media (max-width: 1399px) and (min-width: 661px) {
    .recipient-wrapper {
        width: 592px;
    }
}

@media (max-width: 661px) and (min-width: 320px) {
    .recipient-wrapper {
        width: 100%;
    }
}

.recipient__fio,
.recipient__data {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

@media (max-width: 661px) and (min-width: 320px) {

    .recipient__fio,
    .recipient__data {
        flex-direction: column;
    }
}

.recipient__fio {
    margin-bottom: 29px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .recipient__fio {
        margin-bottom: 36px;
    }
}

.recipient__phone-label {
    font-size: 13px;
    color: #9797AF;
}

.recipient-input {
    font-size: 16px;
    width: 100%;
    padding: 12px 0 4px 0;
    border: none;
    border-bottom: 1px solid #00000033;
}

.recipient-input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #9797AF;
}

.recipient__name-wrapper,
.recipient__surname-wrapper,
.recipient__mail-wrapper,
.recipient__phone-wrapper,
.recipient__inn-wrapper {
    flex: 1;
    position: relative;
}

@media (max-width: 661px) and (min-width: 320px) {
    .recipient__name-wrapper {
        margin-bottom: 14px;
    }

    .recipient__mail-wrapper {
        margin-bottom: 12px;
    }

    .recipient__phone-wrapper {
        margin-bottom: 12px;
    }
}

.recipient__phone {
    padding-top: 6px;
}

.recipient__phone-wrapper {
    margin-top: -15px;
}

.recipient__error {
    color: red;
    margin-top: 2px;
    letter-spacing: -0.6px;
}

.recipient__name-error {
    display: none;
}

.recipient__surname-error {
    display: none;
}

.recipient__mail-error {
    display: none;
}

.recipient__mail-less-error {
    display: none;
}

.recipient__phone-error {
    display: none;
}

.recipient__phone-less-error {
    display: none;
}

.recipient__inn-error {
    display: none;
}

.recipient__inn-less-error {
    display: none;
}

.error-active {
    position: absolute;
}

.recipient__inn-mess {
    margin-top: 2px;
    letter-spacing: -0.6px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .recipient__inn-mess {
        margin-top: 4px;
    }
}

.total {
    width: 429px;
    margin-top: 13px;
}

@media (max-width: 1399px) and (min-width: 1020px) {
    .total {
        width: 304px;
    }
}

@media (max-width: 1020px) and (min-width: 661px) {
    .total {
        width: 640px;
    }
}

@media (max-width: 661px) and (min-width: 320px) {
    .total {
        width: 320px;
        margin: 0 -16px 0 -16px;
        padding: 24px 16px 20px 15px;
    }
}

.total__content {
    padding: 17px 24px 24px 24px;
    background: #FFFFFF;
    border-radius: 16px;
}

@media (max-width: 1399px) and (min-width: 1020px) {
    .total__content {
        padding: 17px 25px 24px 24px;
    }
}

@media (max-width: 661px) and (min-width: 320px) {
    .total__content {
        padding: 0;
        margin: 0;
        background: #F6F6FA;
    }
}

.total__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .total__header {
        font-size: 20px;
        line-height: 28px;
    }
}

.total__properties {
    margin-bottom: 24px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .total__properties {
        margin-bottom: 18px;
    }
}

.total__sum {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
}

.total__quantity,
.total__discount,
.total__delivery {
    display: flex;
    justify-content: space-between;
}

.delivery-info__title {
    font-weight: 700;
    letter-spacing: 0.66px;
}

.delivery-info__change-icon {
    margin-right: 2px;
    cursor: pointer;
}

.delivery-info__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

@media (max-width: 661px) and (min-width: 320px) {

    .delivery-info__head,
    .delivery-info__point {
        display: none;
    }
}

.delivery-info__date {
    display: inline-block;
    color: #CB11AB;
    margin-bottom: 13px;
    border-bottom: 1px dashed #CB11AB;
}

@media (max-width: 661px) and (min-width: 320px) {
    .delivery-info__date {
        display: none;
    }
}

.delivery-info__reverse {
    display: flex;
    background: #F6F6FA;
    border-radius: 8px;
    padding: 8px 0 12px 8px;
    margin-bottom: 24px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .delivery-info__reverse {
        padding: 9px 0 11px 0;
        background: #F0ECF4;
        margin-bottom: 16px;

    }

    .delivery-info__reverse-text1 {
        width: 222px;
    }
}

.delivery-info__payment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .delivery-info__payment {
        display: none;
    }
}

.delivery-info__payment-title {
    font-weight: 700;
    letter-spacing: 0.55px;
}

.delivery-info__bank-card {
    display: flex;
    margin-bottom: 11px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .delivery-info__bank-card {
        display: none;
    }
}

.payment__card-num-total {
    margin-top: 3px;
}

.payment__write-off {
    background: #F6F6FA;
    padding: 8px 0 16px 8px;
    border-radius: 8px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .payment__write-off {
        background: #F0ECF4;
        padding: 9px 0 11px 9px;
    }
}

.order__btn {
    font-size: 16px;
    letter-spacing: 0.5px;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    background: #CB11AB;
    color: #FFFFFF;
    margin: 20px 0 12px 0;
}

@media (max-width: 661px) and (min-width: 320px) {
    .order__btn {
        margin: 24px 0 12px 0;
    }
}

.order-agreement__wrapper {
    display: flex;
    align-items: flex-start;
}

.order-agreement__icon {
    margin: 3px 8px 0 0;
}

.order-agreement__link {
    color: #000000;
    border-bottom: 1px solid #0000001A;
}

.order-agreement__link:hover {
    color: #CB11AB;
    border-bottom: 1px solid #CB11AB;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    background: #6725A8;
    color: #FFFFFFB2;
}

.footer__text {
    padding-top: 16px;
    letter-spacing: 0.15px;
}

@media (max-width: 661px) and (min-width: 320px) {
    .footer__text {
        padding-top: 24px;
    }
}

.mobile-nav {
    display: none;
}

@media (max-width: 661px) and (min-width: 320px) {
    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        padding: 6px 14px 0 13px;
    }
}

.hidden {
    display: none;
}

.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}
